.container{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 140px 80px auto 100px;
}

header{
  grid-column: 1/-1;
  grid-row: 1/2;
}

h1{
  grid-column: 1/-1;
  grid-row: 1/2;
}

nav{
  grid-column: 1/-1;
  grid-row: 2/3;
}

ul{
  grid-column: 1/-1;
  grid-row: 2/3;
}

section{
  grid-column: 4/10;
  grid-row: 3/4;
}

footer{
  grid-column: 1/-1;
  grid-row: 4/5;
}
